{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "no-use-before-define": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-shadow": "off",
    "no-console": "off",
    "no-alert": "off",
    "camelcase": "off",
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/require-default-props": 0,
    "import/no-unresolved": "off",
    "react/no-array-index-key": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "react/display-name": "off",
    "react/jsx-key": "off"
  },
  "overrides": [
    {
      "files": [
        "*.js"
      ]
    }
  ]
}